node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp
*.swo
Thumbs.db
*.bak
*.tmp
nul
NUL

# Python files (own script for collect all code and anylyze it)
*.py
*.pyc
__pycache__/
*.ps1

# Build 
dist/
build/

# Ignoring IDE-specific files
.idea/
.vscode/
*.code-workspace

# Temporary files
temp/
tmp/
*.tmp

*.local
*.env.local

# Frontend-specific
public/static/
coverage/
.next/
out/

# Backend-specific
logs/

*.txt
rules.mdc
CLAUDE.md
.claude/settings.local.jsonpackage-lock.json
